*.com
*.msi
*.dll
*.exe

# Объекты и библиотеки компиляции
*.o
*.obj
*.a
*.lib
*.pdb

# Временные файлы VS Code
.vscode/
.history/
*.log

# Системные файлы Windows
Thumbs.db
desktop.ini
/Linux
/build
SNEngine_Cleaner
SNEngine_Cleaner.exe
SNEngine_Symbols.exe
